body {
/*	font-family: "Times new roman";*/
/*	font-size: 20px; */
	color: #234175;
}

#a .col-md-6{
	padding-bottom: 10px;
}

/*#mainContainer {
    border: 1px;
    border-style: solid;
}*/

.col-3 img {
	height: 200px;
}

.col-4, .col-md-4, .col-sm-4 {
	padding-bottom: 3rem;
}

.card-header {
/*	font-size: 1.25rem;*/
}

.card-img-top {
	width: 200px;
	height: 150px;
}

.card:hover {
	border-color: #134ECC;
}